<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Khoa</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: red;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px red;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- sideBar -->
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="logo-windows"></ion-icon
              ></span>
              <span class="title">Iot Project</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="home-outline"></ion-icon
              ></span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="people-outline"></ion-icon
              ></span>
              <span class="title">Customers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="chatbubble-outline"></ion-icon
              ></span>
              <span class="title">Message</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="help-outline"></ion-icon
              ></span>
              <span class="title">Help</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="settings-outline"></ion-icon
              ></span>
              <span class="title">Settings</span>
            </a>
          </li>
          <li>
            <a href="/auth">
              <span class="icon"
                ><ion-icon name="lock-closed-outline"></ion-icon
              ></span>
              <span class="title">Signin</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="log-out-outline"></ion-icon
              ></span>
              <span class="title">Register</span>
            </a>
          </li>
        </ul>
      </div>
      
      <!-- main-->
      <div class="main">
        <div class="topbar">  
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <!-- search -->
          <div class="search">
            <label>
              <input type="text" placeholder="Search Here">
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>
          
          <!-- userImg -->
          <div class="user" onclick="menuToggle()">
            <img src="/images/user.jpg">
          </div>
          <div class="menu">
            <h3>Someone Famous<br><span> Website Designer </span></h3>
            <ul>
              <li><img src="/icons/user.png"><a href="#">My Profile</a></li>
              <li><img src="/icons/edit.png"><a href="#">Edit Profile</a></li>
              <li><img src="/icons/envelope.png"><a href="#">Inbox</a></li>
              <li><img src="/icons/settings.png"><a href="#">Settings</a></li>
              <li><img src="/icons/question.png"><a href="#">Help</a></li>
              <li><img src="/icons/log-out.png"><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>

        <!-- cards -->
        <div class="cardBox">
          <div class="card">
            <div>
              <div class="numbers" id="alertTab">1,504</div>
              <div class="cardName">Plants Status</div>
            </div>
            <div class="iconBx">
              <ion-icon name="water-outline"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="numbers" id="led"></div>
              <div class="cardName">Led status</div>
            </div>
            <div class="iconBx">
              <ion-icon name="sunny-outline"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="numbers" id="moisture"></div>
              <div class="cardName">Soil Moisture</div>
            </div>
            <div class="iconBx">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <!-- data list -->
        <div class="details">
          <div class="recentOders">
            <div class="cardHeader">
              <h2>Turn Off Relay</h2>
              <!-- Rounded switch -->
              <label class="switch">
                <input type="checkbox" id="toggleRelay">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- drop menu -->
    <script>
      function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
      }
    </script>
    
    <script>
      //MenuToggle
      let toggle = document.querySelector('.toggle');
      let navigation = document.querySelector('.navigation');
      let main = document.querySelector('.main');

      toggle.onclick = function() {
        navigation.classList.toggle('active');
        main.classList.toggle('active');
      }

      //add hover class in selection list item
      let list = document.querySelectorAll('.navigation li');
      function activeLink(){
        list.forEach((item) => 
        item.classList.remove('hovered'));
        this.classList.add('hovered');
      }
      list.forEach((item) =>
      item.addEventListener('mouseover',activeLink));
    </script>
  </body>
   <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-database.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>
  <script type="module">
    const THRESHOLDVALUE = 800;
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyA6FBPYLVZwuxBWZCWTYRtGFz_tPKylnmw",
      authDomain: "esp8266t-feaf4.firebaseapp.com",
      databaseURL: "https://esp8266t-feaf4-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "esp8266t-feaf4",
      storageBucket: "esp8266t-feaf4.appspot.com",
      messagingSenderId: "621312613544",
      appId: "1:621312613544:web:336b7f577c1cbbdee1f69d",
      measurementId: "G-543NJWJYBM"
    };
  
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
        
    var db = firebase.database();
    var ref = db.ref("IoT/Stream");

    ref.on("value", function(snapshot) {     
      const [sensorValue, ledStatus ]= snapshot.val().Data.split(';');
      const message = sensorValue > THRESHOLDVALUE ? 'Time to water your plant': "Doesn't need watering";
      document.querySelector('#alertTab').innerHTML = message;
      document.querySelector('#led').innerHTML = ledStatus;
      document.querySelector('#moisture').innerHTML = sensorValue;
      // document.querySelector('#led').innerHTML = led;
    }, function (errorObject) {
        console.log("The read failed: " + errorObject.code);
    });

    var toggleRelayBtn = document.querySelector('#toggleRelay');
    
    toggleRelayBtn.addEventListener("change", (e) => {
      var relayRef = ref.child("pauseRelay");

      if (!event.target.checked) {
        relayRef.set({
          relayStatus : "off"
        })
        return;
      }
      
      relayRef.set({
        relayStatus : e.target.value
      })
    })
  </script>
  <script>
    
    
  </script>
</html>
